
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}



.container-head{
  text-align: left;
  padding: 20px;
}


.navbar {
  background-color: #fff;
  text-align: right;
  padding: 23px;
}

.navbar.our-work {
  background-color:rgb(1, 24, 68) !important;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: right;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-link.our-work{
  color:rgb(255, 255, 255) !important;
}



.nav-link:hover {
  color: #420cd8 !important;
}


.hero p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.section {
  padding: 60px 0;
  background-color: #fff;
}

.section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.hero {
  position: relative;
  height: 863px;
  max-width: 100%;
  display: flex;
}

.hero-text {
  position: absolute;
  top: 25%;
  left: 15%;
  font-weight: bold; 
  font-size: 85px;
  color: rgba(9, 3, 66, 0.932);
  z-index: 1;
}

.h1-image{
  position: absolute;
}

.background-video1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1500px;

}



.container1 {
  background-color: rgb(1, 24, 68);
  text-align: left;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;

}

.highlight {
  background-color: #22ffaa69;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

footer p {
  margin-bottom: 10px;
}

header {
  text-align: center;
  padding: 40px 0;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.avatar-name {
  padding: 30px 20px;
  display: flex;
  background-color: #011844;
  align-items: center;
}

.avatar-name .avatar {
  width: 180px;
}

.avatar-name .name-pos {
  width: calc(100% - 180px);
}

.avatar-name .avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.maintiles {
  background-color: #ffffff;
  margin: 10px;
  height: 360px;
  width: 350px;
  color: #020202;
  position: relative;
  border: #001b42;
}

.maintiles2 {
  background-color: #001b42;
  margin: 10px;
  height: 360px;
  width: 350px;
  color: #f4f4f4;
  z-index: 5;
  position: absolute;
}

.tile-container1 {
  display: flex;
  flex-wrap: wrap;
}


.maintiles2:hover {
  opacity: 0;
}

.view-results-btn:hover .maintiles2{
  opacity: 0 !important; 
}

.list-dot-color {
  list-style: none;
}

.list-dot-color li:before {
  content: "\2022"; 
  color:rgb(71, 20, 155); 
  font-size: 1.2em; 
  margin-right: 0.5em; 
}


.company-list .company-it {
  height: 100px;
  transform: scale(.85);
}

.company-list .company-it img {
  padding: 0 25px;
  object-fit: cover;
  object-fit:scale-down;
}

.hl {
  position: relative;
  z-index: 1;
  display: inline-block;
  z-index: 2;
}

.about-feature {
  position: absolute;
  top: 150px;
  right: 0;
  width: 35%;
  max-width: 550px;
}

.about-feature img {
  position: absolute;
  top: 0;
  right: 0;
  height: 55vh;
  width: auto;
  z-index: -1;
}


.process-item:not(:last-child):before {
  content: '';
  height: 80px;
  width: 3px;
  background: #7833f3;
  left: 110px;
  top: 90%;
  display: block;
  position: relative;
}


.process-item:not(:last-child):after {
  content: '';
  background-image: url(https://clearwateragency.com.au/wp-content/themes/clearwater/assets/images/ar-select.png);
  background-position: center center;
  background-repeat: no-repeat;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #7833f3;
  font-size: 35px;
  border-radius: 50%;
  border: 2px solid #7833f3;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  top: 80px;
  position: relative;
  left: 92px;
}

.content-right{

  letter-spacing: 1.5px;

}

.process-item .title-left {
  display: inline-flex;
  align-items: flex-end;
}

.our-history .process-item .number {
  font-size: 100px;
}

.process-item .number {
  color: #7833f3;
  font-size: 100px;
  line-height: 1;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin-right: 20px;
}

.our-history .process-item .content-right {
  line-height: 1.5;
}


.hl:before {
  content: '';
  height: 15px;
  width: 100%;
  display: block;
  background: #7833f3;
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: -1;
}


.thumb  {
  width: 150px;
  height: 150px;
  padding: 40px;
  background: #7833f3;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.contact-info-item {
  margin-bottom: 30px;
}

.contact-info-item .content-list li .l-title {
  width: 40%;
  color: #7833f3;
}

.contact-info-item .content-list li .l-content {
  width: 60%;
  word-break: break-word;
}

.contact-info-item .content-list li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.tile-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.tile {
  position: relative;
  flex: 0 0 calc(50% - 15px);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-color: #000000d8;
  margin-bottom: 20px;
  overflow: hidden;
}


.tile1 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #0000007a;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 5;
}

.hide-on-hover {
  opacity: 1;
  transition: opacity 0s;
}

.hide-on-hover:hover {
  opacity: 0;
}

.tile::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.568); 
  opacity: 0;
  transition: opacity 0s ease; 
  z-index: 0;
}

.tile:hover::after {
  opacity: 1;
  z-index: 0;
}

.tile .overlay {
  position: relative; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.tile .overlay .text {
  color: #ffffff;
  display: none; 
  font-size: 50px;
  position: absolute;
}


.view-results-btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
  height: 50px;
  padding: 0 30px;
  line-height: 46px;
  background: #ffffff;
  color: #000;
  font-weight: 500;
  text-align: center;
  border-radius: 25px;
  font-size: 18px;
  border: 2px solid #000000;
  z-index: 10;
}

.Cbnt {
  position: absolute;
  left: 20px;
  bottom: 20px;
  height: 50px;
  padding: 0 30px;
  line-height: 46px;
  background: #7c2fc5;
  color: #000;
  font-weight: 500;
  text-align: center;
  border-radius: 25px;
  font-size: 18px;
  border: 2px solid #000000;
  z-index: 10;
}

.Cbnt:hover{
  background:#ffffff00 ;
  color: #fff;

}



.card1:hover{
  cursor: pointer;
}

.my-input::placeholder {
  color: rgba(82, 8, 255, 0.979); 
}

.tile:hover .view-results-btn {
  background:#ffffff00 ;
  color: #fff;

}

.maintiles:hover .view-results-btn {
  background:#1c2bb3 ;
  color: #fff;
  border: 2px solid #000000;

}



.view-results-btn:hover ~ .overlay .tile1,
  .side-note-container:hover ~ .overlay .tile1 {
    opacity: 0;
  }

.tile:hover .overlay .text {
  display:contents; 

}

.tile-container{
  margin-bottom: 20px;

}

.side-note-container{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  z-index: 3;
  overflow: hidden;

}

.btn-outline-primary1{
z-index: 3;
}

.prmcolour{
  color: rgb(1, 24, 68);
}

.custom-padding {
  padding-left: 0;
}

@media (min-width: 992px) {  /* Large screens (lg) and above */
  .custom-padding {
    padding-left: 400px;
  }
}

.hfooter{
    font-size: 26px;
}

a {
  text-decoration: none;
  color: rgb(1, 24, 68);
  font-size: 14px;

}

/* Styles for hover state */
a:hover {
  color: #420cd8;
}

.footer-image {
  width: 100vw;
  height: 275px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}